body
{
	background-image: url('image.resume/pinky.jpg');
}
h1
{
	text-align: center;
}
h2
{
	text-align: center;
}
.gallery
{
	display: inline-block;
  	border: 2px solid lightpink;
  	margin: 20px;
  	padding: 10px;
  	text-align: center;
}
.gallery:hover
{
	border: 2px solid deeppink;
}
